/* Custom utility class to apply linear gradients to backgrounds */
@utility grad-* {
  background: --value(--color-grad-*);
}

/* Custom utility class to apply linear gradients to text */
@utility grad-text-* {
  background: --value(--color-grad-*);
  background-clip: text;
  display: inline-block;
  color: transparent;
}

/* Custom util class to apply nice lookign border to top of a card */
@utility card-border-top-grad-* {
  position: relative;
  overflow: hidden;

  &::before {
    background: --value(--color-grad-*);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
  }
}

@utility card-border-top-* {
  position: relative;
  overflow: hidden;

  &::before {
    background-color: --value(--color-*);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
  }
}
