@theme static {
  --font-display: 'Inter', 'sans-serif';

  --color-white: #fff;
  --color-black: #000;

  --color-primary-50: #eaf3f4;
  --color-primary-100: #d5e7e9;
  --color-primary-200: #acd0d3;
  --color-primary-300: #82b8bd;
  --color-primary-400: #59a1a7;
  --color-primary-500: #2f8991;
  --color-primary-600: #266e74;
  --color-primary-700: #1c5257;
  --color-primary-800: #13373a;
  --color-primary-900: #0e292c;
  --color-primary-950: #091b1d;
  --color-primary: var(--color-primary-500);

  --color-tertiary-50: #e9f0f0;
  --color-tertiary-100: #d3e1e1;
  --color-tertiary-200: #a7c4c3;
  --color-tertiary-300: #7aa6a5;
  --color-tertiary-400: #4e8987;
  --color-tertiary-500: #226b69;
  --color-tertiary-600: #1b5654;
  --color-tertiary-700: #14403f;
  --color-tertiary-800: #0e2b2a;
  --color-tertiary-900: #071515;
  --color-tertiary-950: #071515;
  --color-tertiary: var(--color-tertiary-500);

  --color-secondary-50: #eaeef4;
  --color-secondary-100: #d5dee9;
  --color-secondary-200: #acbdd3;
  --color-secondary-300: #829bbe;
  --color-secondary-400: #597aa8;
  --color-secondary-500: #2f5992;
  --color-secondary-600: #264775;
  --color-secondary-700: #1c3558;
  --color-secondary-800: #13243a;
  --color-secondary-900: #0e1b2c;
  --color-secondary-950: #09121d;
  --color-secondary: var(--color-secondary-500);

  --color-secondary2: #372f92;

  --color-light: #3badb8;
  --color-dark: #1a202c;

  /* --color-text: #2d374b; */
  /* --color-text2: #4a5568; */

  --color-text: var(--color-slate-700);
  --color-text2: var(--color-slate-600);

  --color-background-elevated: #f1f5f9;
}
