@import 'tailwindcss';
@import '@nuxt/ui';
@import './variables/index.css';
@import './utilities.css';
@import './hover.css';
@import './transitions.css';

/**
* -- Global Styles --
*/

:root {
  font-family: Inter, sans-serif;

  /* BProgress styling */
  --bprogress-color: var(--color-tertiary-600) !important;
  --bprogress-height: 3px !important;
}

.lucide {
  color: var(--color-white);
}
