/* Custom utility class to apply linear gradients to backgrounds */
@utility grad-* {
  background: --value(--color-grad-*);
}

/* Custom utility class to apply linear gradients to text */
@utility grad-text-* {
  background: --value(--color-grad-*);
  background-clip: text;
  display: inline-block;
  color: transparent;
}

/* Custom util class to apply nice lookign border to top of a card */
@utility card-border-top-grad-* {
  position: relative;
  overflow: hidden;

  &::before {
    background: --value(--color-grad-*);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
  }
}

@utility card-border-top-* {
  position: relative;
  overflow: hidden;

  &::before {
    background-color: --value(--color-*);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
  }
}

@utility card {
  background-color: var(--ui-bg-elevated);
  border-color: var(--ui-border-accented);
  border-radius: var(--radius-md);
  border-width: 1px;
  box-shadow: var(--shadow-md);
  padding: 24px;
}

.hover-lift {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.hover-lift:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
}
